.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

body {
    padding: 0;
    margin-bottom: 60px;
}
html {
  position: relative;
  min-height: 100%;
}


/* Everything but the jumbotron gets side spacing for mobile first views */

.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}
/*.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
   Set the fixed height of the footer here 
  height: 60px;
  background-color: #f5f5f5;
}
*/


/* Custom page header */

.header {
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: 10px;
}


/* Make the masthead heading the same height as the navigation */

.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}


/* Custom page footer */

.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}


/* Main marketing message and sign up button */

.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}


/* Supporting marketing content */

.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}
/*.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}*/


/* Responsive: Portrait tablets and up */

@media screen and (min-width: 768px) {
    .container {
        /*max-width: 730px;*/
        max-width: 1200px;
    }
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/*topic.html begin css */

.stylish-panel {
    padding: 20px 0;
    text-align: center;
}

.stylish-panel > div > div {
    padding: 10px;
    border: 1px solid transparent;
    border-radius: 4px;
    transition: 0.2s;
}

.stylish-panel > div:hover > div {
    margin-top: -10px;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 5px 5px 2px;
    background: rgba(200, 200, 200, 0.1);
    transition: 0.5s;
}

.stylish-panel > div:hover img {
    border-radius: 50%;
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
}


/*topic.html end css*/


/*comment.html css begin*/

.avatar-container {
    
    max-height: 50px;
    overflow: hidden;
    width: 50px;
}

.message-container {
    padding: 10px;
    border: 1px solid ;
    border-radius: 3px;
}
.comment-user{
  font-style: normal;
  font-weight: bold;
}
.comment-date{
  margin-left: 6px;
}
.comment-header{
  margin: 0 0 8px;
}
.comment-content {
    text-align: justify;
}
.top-buffer { margin-top:20px; }


/*comment.html css end*/


/* score begin */
.circle .up {
  border-radius: 10rem 10rem 0 0;
}
.circle .down {
  border-radius: 0 0 10rem 10rem;
}
.circle .count {
  border-radius: 50%;
}

.vote {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Noto Sans";
  position: relative;
  width: 5rem;
  height: 5rem;
  /*margin-left: 1rem;*/
}

.increment {
  -webkit-box-flex: 1;
  -webkit-flex: 1 0 0;
      -ms-flex: 1 0 0;
          flex: 1 0 0;
  text-align: center;
  opacity: .5;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}
.increment.up {
  background: #4BC35F;
  height: 50%;
  margin-bottom: 0.25rem;
}
.increment.down {
  background: #C15044;
  height: 50%;
}
.increment:hover {
  opacity: 1;
}

.count {
  position: absolute;
  top: 0;
  border-radius: 0.1rem;
  margin: 1.5rem;
  background: #F6F3E4;
  width: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 2rem;
  text-align: center;
  box-shadow: 0 0 0 0.5rem #F6F3E4;
  pointer-events: none;
}
.count.upvoted {
  color: #4BC35F;
}
.count.downvoted {
  color: #C15044;
}
.score-container{
  float: left;
  margin-top: 5px;
}
.comment-container{
  width: auto;
  max-width: 100%;
  padding: 0 15px;
  border: 1px solid;
  height: 500px;
  overflow: scroll;
}
.comment-form{
    position: relative;
    background-color: #fff;
    box-shadow: 0 0 0 1px rgba(39,41,43,.15),0 1px 2px 0 rgba(0,0,0,.05);
    margin: 30px 0px 10px 0px;
    padding: 10px;
    border-radius: 4px;
    border: none;
    /*position: fixed;*/
    bottom: 0;
     /*width:100%;*/
}
div:focus{
  outline: none;
}
.top-align{
  margin-top: 20%;
}
/* end  */
