<div class="page-header">
    <h1 class="text-center">{{topic.name || 'Comments'}}</h1>
</div>
<div class="comment-container" when-scrolled='more()'>
    <div ng-hide="comments.length > 0">
        <h3 class="text-center top-align">No comments to show. Start by posting one!!! </h3>
    </div>
    <div>
        <div class="row top-buffer" ng-repeat="comment in comments">
            <div class="col-xs-3 col-sm-2 col-md-1 col-lg-1">
                <div class="avatar-container">
                    <img src="http://lorempixel.com/200/200/abstract/0/" alt="Webdesigning" class="img-square img-thumbnail">
                </div>
                <div class="score-container">
                    <div class="vote circle">
                        <div class="increment up" ng-click="voteUp(comment)"></div>
                        <div class="increment down" ng-click="voteDown(comment)"></div>
                        <div class="count">{{comment.score || 0}}</div>
                    </div>
                </div>
            </div>
            <div class="col-xs-8 col-sm-8 col-md-10 col-lg-10 message-container">
                <div class="comment-header">
                    <cite class="comment-user"><a href="">{{comment.email}}</a></cite>
                    <span class="comment-date"><i>{{ comment.created_at | date : 'MMM d, y h:mm:ss a'}}</i></span>
                </div>
                <div class="comment-content">
                    <p> {{ comment.message.length == 400 && !comment.more? comment.message + '...' : comment.message}}
                        <span ng-show="comment.message.length ==400 && !comment.more" ng-click="loadCompleteComment(comment)"><i><a href="">read more</a> </i></span>
                    </p>
                </div>
            </div>
        </div>
        <br/>
    </div>
    <div ng-show='loading'>Loading</div>
</div>
<div class="comment-form">
    <div class="row">
        <div class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
            <form name="commentForm" ng-submit="createComment(message,email, commentForm.$valid)" novalidate>
                <div class="form-group" ng-class="{ 'has-error' : commentForm.email.$invalid && !commentForm.email.$pristine }">
                    <label for="inputEmail">Email address</label>
                    <input type="email" name='email' ng-model="email" class="form-control" id="inputEmail" placeholder="Email" required>
                    <p ng-show="commentForm.email.$invalid && !commentForm.email.$pristine" class="help-block">Enter a valid email</p>
                </div>
                <div class="form-group" ng-class="{ 'has-error' : commentForm.$invalid && !commentForm.message.$pristine }">
                    <label for="inputComment">Comment</label>
                    <textarea class="form-control" name='message' ng-model="message" rows="3" required id="inputComment" placeholder="Comment"></textarea>
                    <p ng-show="commentForm.message.$invalid && !commentForm.message.$pristine" class="help-block">Comment is Required</p>
                </div>
                <button type="submit" ng-disabled="commentForm.$invalid" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</div>
