<div class="page-header">
    <h1 class="text-center">Topics</h1>
</div>
<div class="container">
    <div ng-repeat="topic in topics">
        <div class="row stylish-panel" ng-if="$index%3==0">
            <div class="col-md-4">
                <div>
                    <img src="http://lorempixel.com/200/200/abstract/10/" alt="Webdesigning" class="img-circle img-thumbnail">
                    <h2>{{topics[$index].name}}</h2>
                    <a ng-href="{{'#/comment/'+ topics[$index].id}}" class="btn btn-primary" title="Comment">Comment »</a>
                </div>
            </div>
            <div class="col-md-4" ng-if="$index+1<topics.length">
                <div>
                    <img src="http://lorempixel.com/200/200/abstract/9/" alt="Photography" class="img-circle img-thumbnail">
                    <h2>{{topics[$index+1].name}}</h2>
                    <a ng-href="{{'#/comment/'+ topics[$index+1].id}}" class="btn btn-primary" title="Comment">Comment »</a>
                </div>
            </div>
            <div class="col-md-4" ng-if="$index+2<topics.length">
                <div>
                    <img src="http://lorempixel.com/200/200/abstract/8/" alt="Contentwriting" class="img-circle img-thumbnail">
                    <h2>{{topics[$index+2].name}}</h2>
                    <a ng-href="{{'#/comment/'+ topics[$index+2].id}}" class="btn btn-primary" title="Comment">Comment »</a>
                </div>
            </div>
        </div>
        <div class="clearfix" ng-if="$index%3==2"></div>
    </div>
</div>
